sudo: required
os: linux
language: minimal
addons:
  apt:
    packages:
    - docker-ce
git:
  depth: 4
services:
  - docker

before_install:
  - docker pull lacledeslan/gamesvr-gesource

script:
  - docker version
  - docker build --no-cache --tag lltest/gamesvr-gesource-freeplay --tag lacledeslan/gamesvr-gesource-freeplay --build-arg BUILDNODE=TravisCI --build-arg SOURCE_COMMIT="$TRAVIS_COMMIT" -f Dockerfile.linux .
  - docker run -it --rm lltest/gamesvr-gesource-freeplay ./ll-tests/gamesvr-gesource-freeplay.sh

notifications:
  slack:
    secure: WlkpY9c3wc8qwmM6ocAv/PNFhsXFZ8a2hcfQhIyejhKtw3UTR8IIT5kZCm4oszra432McHJgsO5zZ5aikcYA+n347+F8gSZOQKzSzk42ygAse7kHYeCHxF9cdnnhsQA+SvM6c57P7/YchwVznvuN7oGTxuVYDMDbuiII7tOjaUvZ/QQs6e4qFP18jIy1Drlx2YVORr5suuvbHOj9PBEzF6ZeYgyRFI87ol4iWr2JCYZ6YmGJxoqnB69VLkj3ibnB7vKz3HVFTS0zOe1JTQB0Aq3t/4G8I0Q256kSvxT+xQAxmeOvr7ikNI17YgheeIMmIrI8tEJgIKJGTaltSNh0OCtP2eNe7GmgxITMti/Y6D1LgQfaUySr8nEn1pAIPn2eAw0jvSUQrLSx33dU0rX808nkAz+XpWs/zfI4PFtkt4HTUjunYnEC2EKto+QDhINaPY/5VAtBOz6BwcyCxuGsoshIuo2yo30qU0AWxEw7G08Qv148Br3uZpYDreGywO13+iwnlYhhkRBU//GXDyjeayd5MlFJA4D/Rfb6FaxL5slJkuG5EtRK9LtGpU52RulyvQvTSw/NASbAcvUbupUWiHZXOUDXKWPBPAiJ9fmfMSSEUXHCjBfq34gJ7aHU/QL71Zrt5Z4xhhCTvkEbkcPV0UyRFgqMDX4m+MT9eiEeh94=

before_deploy:
  - echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USER" --password-stdin;
deploy:
  provider: script
  script: docker push lacledeslan/gamesvr-gesource-freeplay
  on:
    branch: master
